@media(max-width:1590px){/* 웹 화면 최소 */
	#tabs_roadmap .ui-tabs-panel {
		flex-direction: column;
	}
	#tabs_roadmap .ui-tabs-panel > img {
		width:100%;
	}
	#tabs_roadmap .ui-tabs-panel > ul {
		align-items: stretch;
	}
}
@media(max-width:1318px){
	.main_digital_area {
		height: 400px;
	}
	.main_digital_area > h4 {
		font-size: 24px;
	}
	.main_digital_area > p {
		font-size: 18px;
	}

	.video_con .tit h4 {
		font-size: 32px;
	}
	.video_con .tit p {
		font-size: 18px;
	}

	.cs {
		height:700px;
	}
	.cs p {
		font-size: 18px;
	}
	.cs h4 {
		margin-top: 20px;
		font-size: 24px;
	}
	.cs a {
		display: inline-block;
		padding: 16px 40px;
		margin-top: 50px;
		font-size: 16px;
	}
}
@media(max-width:768px){/* 모바일 main 시작*/
	#wrap {
		min-width: unset;
	}
	.left_nav {
		display: none;
	}
	.floating-sticky {
		display: none;
	}

	/* 메인 비주얼 */
	.main_visual_area {
		margin-top: 0;
	}
	.main_visual .img_txt>.txt01 {
		margin-bottom: 27px;
	}
	.main_visual .swiper-slide-active .txt01 > img {
		width: 75px;
	}
	.main_visual .img_txt>.txt02 {
		margin-bottom: 29px;
	}
	.main_visual .img_txt>.txt02 > img {
		width:259px;
	}
	.main_visual .img_txt>.txt03 > img {
		width: 225px;
	}

	/* 타이틀 */
	.main_con,
	.main_con.byIndustry {
		padding: 56px 0 0;
	}
	.main_con>.tit {
		padding:0;
		height:auto;
	}
	.main_con>.tit > .tit_inner {
		align-items: flex-start;
		flex-direction: column;
		padding: 0 20px;
	}
	.main_con > .tit > .tit_inner h4 {
		font-size: 25px;
	}
	.main_con > .tit > .tit_inner p {
		font-size: 14px;
		line-height: 1.4;
	}
	.main_con > .tit > .tit_inner a.btn_loadmap {
		margin-top:20px;
		font-size: 12px;
	}
	.main_con > .tit > .tit_inner a > i.ico_info {
		width: 14px;
		height: 14px;
	}
	.main_con > .tit > .tit_inner a:after {
		width: 6px;
    	height: 6px;
	}

	/* 컨텐츠 영역 */
	.main_con > .con_area {
		margin-top:30px;
	}

	#tabs_roadmap .tabs_btn {
		padding: 0 10px;
		justify-content: flex-start;
    	white-space: nowrap;
		overflow-x: auto;
	}
	#tabs_roadmap .tabs_btn > li > a {
		padding: 17px 15px;
	}

	
	#tabs_roadmap .ui-tabs-panel > ul > li {
		width: 50%;
	}
	#tabs_roadmap .ui-tabs-panel > ul > li > a {
		height: 100%;
		padding: 16px 20px 12px;
		flex-direction: column;
    	justify-content: center;
	}
	#tabs_roadmap .ui-tabs-panel > ul > li > a img {
		margin-right: 0;
		width:28px;
		height:28px;
		margin-bottom:10px;
	}
	#tabs_roadmap .ui-tabs-panel > ul > li > a p,
	#tabs_roadmap .ui-tabs-panel > ul > li > a span {
		text-align:center;
		display: block;
		margin-top: 5px;
	}
	#tabs_roadmap .ui-tabs-panel > ul > li > a p {
		font-size: 14px;
	}

	/* digital */
	.main_digital_area {
		height:300px;
	}
	.main_digital_area > h4 {
		font-size: 22px;
	}
	.main_digital_area > p {
		font-size: 13px;
	}

	/*Industry*/
	.main_con > .tit > .tit_inner a.btn_byIndustry {
		display: none;
	}
	.main_con.byIndustry > .tit.fixed {
		position: unset;
		top: unset;
		z-index: unset;
	}
	.main_con.byIndustry > .tit.fixed h4 {
		font-size: 25px;
	}
	.main_con.byIndustry > .tit.fixed p {
		font-size: 14px;
	}

	.main_con.byIndustry .con_area {
		padding: 20px;
	}
	.main_con.byIndustry .con_area > div > ul {
		flex-direction: row;
	}

	.main_con.byIndustry .con_area > div > ul > li {
		margin: 5px;
		width: calc(50% - 10px);
		flex-basis: calc(50% - 10px);
	}
	.main_con.byIndustry .con_area a {
		width: 100%;
		height: 100%;
	}
	.main_con.byIndustry .con_area a > .tit {
		bottom: 20px;
		left: 20px;
	}
	.main_con.byIndustry .con_area a > .tit > .case {
		display: none;
	}
	.main_con.byIndustry .con_area a > .imgBg > img {
		width: 100%;
		margin-bottom: 30px;
	}
	.main_con.byIndustry .con_area a > .tit > h5 {
		font-size: 20px;
		font-weight: 500;
    	letter-spacing: -1px;
	}
	.main_con.byIndustry .con_area a > .tit_hover h5 {
		font-size: 20px;
	}
	.main_con.byIndustry .con_area a > .tit p {
		font-size: 12px;
	}
	.main_con.byIndustry .con_area a > .tit_hover p {
		font-size: 14px;
	}
	.main_con.byIndustry .con_area a > .tit_hover .view {
		font-size: 12px;
		margin-top: 20px;
	}
	.main_con.byIndustry .con_area a > .tit_hover > .view:before {
		width: 10px;
		height: 10px;
		margin-right: 5px;		
	}

	/* DT Insight */
	.main_con.DTInsight .tit.fixed {
		position: unset;
		top: unset;
		z-index: unset;
	}
	.main_con.DTInsight > .tit.fixed h4 {
		font-size: 25px;
	}
	.main_con.DTInsight > .tit.fixed p {
		font-size: 14px;
	}
	.Insight_slide_btn {
		display: none;
	}
	.Insight_slide .swiper {
		transform: translateX(-230px);
		width: calc(100% + 230px);
	}
	.Insight_slide .swiper-slide {
		width:240px;
		height:auto;
	}
	.Insight_slide .swiper-slide > img {
		margin-bottom:10px;
	}
	.Insight_slide .swiper-slide > p {
		font-size: 12px;
	}
	.Insight_slide .swiper-slide > h4 {
		margin-top:20px;
		font-size: 14px;

		white-space: normal;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient:vertical;
		overflow:hidden;

		flex:none;
	}
	.Insight_slide .swiper-slide > a {
		margin-top: 33px;
		font-size: 12px;
	}

	/* video */
	.video_con {
		flex-direction: column;
	}
	.video_con .tit a.btn_youtube {
		margin-top: 20px;
		margin-bottom: 32px;
	}
	.video_slide_btn {
		display: none;
	}
	.video_con .con_area {
		margin-top:0;
	}
	.video_con .swiper {
		padding:0 20px;
	}
	.video_con .swiper-wrapper {
		flex-direction: column;
	}
	.video_con .swiper-slide {
		width:100%;
		margin-bottom:20px;
	}
	.video_con .swiper-slide a > img {
		width:100%;
	}
	.video_con .swiper-slide p {
		font-size: 12px;
		margin:10px 0;
	}
	.video_con .swiper-slide h5 {
		font-size:14px;
	}

	/* cs */
	.cs {
		height:360px;
	}
	.cs > div {
		transform: translate(0, 0);
    	text-align: right;
	}
	.cs p {
		font-size: 14px;
	}
	.cs h4 {
		margin-top: 10px;
		font-size:20px;
	}
	.cs a {
		padding: 12px 33px;
		margin-top: 20px;
		font-size: 12px;
		border: 2px solid #fff;
	}
	.cs a:after { 
		width: 8px;
    	height: 8px;
	}

	/**/

	/**/

	/**/





}