/* main */
.main-section {
	position:relative;
	max-width: 1318px;
	height:646px;
	margin:0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.3s;
}
.main-section.top {
	margin-top:105px;
}
.main-section .main_txt {
	font-size:62px;
	font-weight: 700;
	line-height: 77px;
    letter-spacing: -1px;
}
.main-section .btn_group {
	margin-top: 64px;
    display: flex;
    align-items: center;
}
.main-section .btn_group > a {
	width: 258px;
	height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
	border: 2px solid #E8526E;
    border-radius: 30px;
	font-weight: 700;
    color: #EA002C;
	transition:background 0.3s;
	transition-delay: 0s !important;
	transition-duration: 0.3s !important;
}
.main-section .btn_group > a:hover {
	color:#fff;
	background:#EA002C;
}
.main-section .btn_group > a:last-child {
	margin-left:20px;
	border:2px solid #FF8B3E;
	color:#FF6600;
}
.main-section .btn_group > a:hover:last-child {
	color:#fff;
	background:#FF6600;
}
.main-section .btn_group > a > i {
	display:inline-block;
	width:24px;
	height:24px;
	margin-right:42px;
	position: absolute;
	right:0px;
	animation: arrow_r .6s ease-in-out .3s infinite alternate;
}
.main-section .btn_group > a > i.ico_arrow_01 {
	background:url(../images/ico_arrow_01.svg);
}
.main-section .btn_group > a > i.ico_arrow_02 {
	background:url(../images/ico_arrow_02.svg);
}
.main-section .btn_group > a:hover > i {
	background:url(../images/ico_arrow_03.svg) !important;
	animation:none;
}

@-webkit-keyframes arrow_r {
	0%   {right:0px;}
	100% {right:5px;}
}
@keyframes arrow_r {
	0%   {right:0px;}
	100% {right:5px;}
}

